openapi: 3.1.0
info:
  title: Suptia Supplement API
  version: 1.0.0
  description: |
    Suptia is a Japanese supplement comparison and recommendation engine that evaluates products across five pillars:

    1. **Price Comparison** - Compare prices across multiple e-commerce platforms (Rakuten, Amazon, Yahoo! Shopping)
    2. **Ingredient Content** - Normalized daily active ingredient amount (mg/day)
    3. **Cost-Effectiveness** - Price per mg of active ingredient (JPY/mg)
    4. **Evidence Level** - Scientific evidence rated S/A/B/C/D
    5. **Safety Score** - 0-100 safety rating with side effect and interaction warnings

    Products achieving S-rank in all five pillars earn the **Five Crown (S+)** badge.

    All prices are in JPY (Japanese Yen). Ingredient names support both Japanese and English.

    ---

    サプティア（Suptia）は「安全 x コスト x エビデンス」を軸にしたサプリメント意思決定エンジンです。
    価格比較・成分量比較・コスパ比較・エビデンス・安全性の5つの柱で商品を評価します。
  contact:
    name: Suptia Support
    url: https://suptia.com/contact

servers:
  - url: https://suptia.com
    description: Production server

paths:
  /api/v1/ingredients:
    get:
      operationId: listIngredients
      x-openai-isConsequential: false
      summary: List ingredients with filtering
      description: |
        Retrieve a list of supplement ingredients with optional filtering by category or keyword search.
        Returns ingredient metadata including evidence level, safety score, and associated product count.

        成分一覧を取得します。カテゴリやキーワードでフィルタリングできます。
      parameters:
        - name: category
          in: query
          description: Filter by ingredient category (e.g. vitamin, mineral, amino-acid, fatty-acid, probiotic, herb, other)
          schema:
            type: string
          example: "vitamin"
        - name: q
          in: query
          description: Search keyword for ingredient name (Japanese or English)
          schema:
            type: string
          example: "ビタミンD"
        - name: limit
          in: query
          description: Number of results to return (default 20, max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Successful response with ingredient list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                    description: Number of ingredients returned
                  query:
                    type: object
                    properties:
                      category:
                        type: string
                        nullable: true
                      keyword:
                        type: string
                        nullable: true
                      limit:
                        type: integer
                  availableCategories:
                    type: array
                    items:
                      type: string
                    description: List of all available ingredient categories
                  ingredients:
                    type: array
                    items:
                      $ref: "#/components/schemas/Ingredient"
                  _links:
                    $ref: "#/components/schemas/Links"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/ingredients/{slug}:
    get:
      operationId: getIngredient
      x-openai-isConsequential: false
      summary: Get ingredient detail
      description: |
        Retrieve detailed information about a specific ingredient including dosage recommendations,
        benefits, side effects, interactions, and related products.

        成分の詳細情報と関連商品を取得します。エビデンスレベル、推奨摂取量、注意事項などを含みます。
      parameters:
        - name: slug
          in: path
          required: true
          description: Ingredient URL slug identifier (e.g. "vitamin-d", "zinc", "omega-3")
          schema:
            type: string
          example: "vitamin-d"
      responses:
        "200":
          description: Successful response with ingredient details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  ingredient:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                        description: Ingredient name in Japanese
                      nameEn:
                        type: string
                        description: Ingredient name in English
                      slug:
                        type: string
                      category:
                        type: string
                      url:
                        type: string
                        format: uri
                        description: Suptia ingredient page URL
                      description:
                        type: string
                      evidenceLevel:
                        type: string
                        description: Evidence level rating (S/A/B/C/D)
                      safetyScore:
                        type: integer
                        description: Safety score (0-100)
                      dosage:
                        type: object
                        properties:
                          dailyRecommended:
                            type: string
                            description: Recommended daily intake
                          dailyUpperLimit:
                            type: string
                            description: Tolerable upper intake level
                      benefits:
                        type: array
                        items:
                          type: string
                        description: List of potential benefits
                      sideEffects:
                        type: array
                        items:
                          type: string
                        description: List of possible side effects
                      interactions:
                        type: array
                        items:
                          type: string
                        description: Known drug/supplement interactions
                      sources:
                        type: array
                        items:
                          type: string
                        description: Scientific sources and references
                  relatedProducts:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: Total number of related products
                      showing:
                        type: integer
                        description: Number of products returned
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/Product"
                  _links:
                    $ref: "#/components/schemas/Links"
        "404":
          description: Ingredient not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/products/search:
    get:
      operationId: searchProducts
      x-openai-isConsequential: false
      summary: Search products
      description: |
        Search supplement products by keyword, ingredient, or category.
        Results can be sorted by tier rank, price, or cost-effectiveness.
        Each product includes tier ratings across all five evaluation pillars.

        キーワード、成分名、カテゴリなどの条件でサプリメント商品を検索します。
        ティアランク順、価格順、コスパ順でソートできます。
      parameters:
        - name: q
          in: query
          description: Search keyword for product name
          schema:
            type: string
          example: "ビタミンD"
        - name: ingredient
          in: query
          description: |
            Ingredient name to filter by (English slug recommended).
            Examples: vitamin-d, vitamin-c, zinc, magnesium, omega-3, probiotics, collagen, coq10, gaba
          schema:
            type: string
          example: "vitamin-d"
        - name: category
          in: query
          description: Ingredient category filter
          schema:
            type: string
            enum: [vitamin, mineral, amino-acid, fatty-acid, probiotic, herb, other]
          example: "vitamin"
        - name: sort
          in: query
          description: Sort order for results
          schema:
            type: string
            enum: [price, cost-effectiveness, safety, evidence]
          example: "cost-effectiveness"
        - name: limit
          in: query
          description: Number of results to return (default 10, max 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        "200":
          description: Successful response with product search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                    description: Number of products returned
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"
                  _links:
                    $ref: "#/components/schemas/Links"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/products/{slug}:
    get:
      operationId: getProduct
      x-openai-isConsequential: false
      summary: Get product detail
      description: |
        Retrieve comprehensive product information including price comparison across
        e-commerce platforms, ingredient breakdown, tier ratings, price history, and purchase links.

        商品の詳細情報を取得します。価格比較、成分情報、ティアランク、購入リンクを含みます。
      parameters:
        - name: slug
          in: path
          required: true
          description: Product URL slug identifier
          schema:
            type: string
          example: "now-foods-vitamin-d3-5000iu"
      responses:
        "200":
          description: Successful response with product details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  product:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                        description: Product name
                      slug:
                        type: string
                      description:
                        type: string
                      url:
                        type: string
                        format: uri
                        description: Suptia product page URL
                      availability:
                        type: string
                        description: Stock availability status
                      image:
                        type: string
                        format: uri
                      source:
                        type: string
                        description: Primary e-commerce source (rakuten, amazon, yahoo)
                      pricing:
                        type: object
                        description: Price data including cross-platform comparison
                        properties:
                          basePrice:
                            type: integer
                            description: Base price in JPY
                          currency:
                            type: string
                            default: "JPY"
                          pricePerDay:
                            type: integer
                            description: Daily cost in JPY
                          daysSupply:
                            type: integer
                            description: Number of days one package lasts
                          lowestPrice:
                            type: object
                            nullable: true
                            properties:
                              amount:
                                type: integer
                              source:
                                type: string
                              shopName:
                                type: string
                              url:
                                type: string
                                format: uri
                              shippingFee:
                                type: integer
                              isFreeShipping:
                                type: boolean
                          priceComparison:
                            type: array
                            description: Prices from all e-commerce platforms
                            items:
                              type: object
                              properties:
                                source:
                                  type: string
                                shopName:
                                  type: string
                                amount:
                                  type: integer
                                url:
                                  type: string
                                  format: uri
                                shippingFee:
                                  type: integer
                                isFreeShipping:
                                  type: boolean
                                effectivePrice:
                                  type: integer
                                stockStatus:
                                  type: string
                                fetchedAt:
                                  type: string
                                  format: date-time
                      servings:
                        type: object
                        properties:
                          perContainer:
                            type: integer
                          perDay:
                            type: integer
                          daysSupply:
                            type: integer
                      tierRanks:
                        $ref: "#/components/schemas/TierRatings"
                      badges:
                        type: array
                        items:
                          type: string
                        description: Earned badges (e.g. "five-crown")
                      ingredients:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            nameEn:
                              type: string
                            slug:
                              type: string
                            category:
                              type: string
                            amountMgPerServing:
                              type: number
                            evidenceLevel:
                              type: string
                            safetyScore:
                              type: integer
                            dailyRecommendedAmount:
                              type: string
                            dailyUpperLimit:
                              type: string
                            description:
                              type: string
                            url:
                              type: string
                              format: uri
                              nullable: true
                      priceHistory:
                        type: array
                        description: Recent price history (last 30 entries)
                        items:
                          type: object
                          properties:
                            source:
                              type: string
                            amount:
                              type: integer
                            date:
                              type: string
                  _links:
                    $ref: "#/components/schemas/Links"
        "404":
          description: Product not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/recommendations:
    get:
      operationId: getRecommendations
      x-openai-isConsequential: false
      summary: Get recommendations
      description: |
        Get personalized supplement recommendations based on health goals, specific ingredients,
        budget constraints, and priority preferences. The engine maps goals to relevant ingredients
        and ranks products using the five-pillar evaluation system.

        目的や予算に応じたおすすめ商品を取得します。
        「免疫力向上」「疲労回復」「睡眠改善」などの目的から最適な商品を提案します。
      parameters:
        - name: goal
          in: query
          description: Health goal category
          schema:
            type: string
            enum: [immunity, energy, sleep, skin, bone, muscle, focus, stress, diet, gut]
          example: "immunity"
        - name: ingredient
          in: query
          description: |
            Specific ingredient name (English slug recommended).
            Examples: vitamin-d, vitamin-c, zinc, magnesium, omega-3
          schema:
            type: string
          example: "vitamin-d"
        - name: budget
          in: query
          description: Monthly budget in JPY
          schema:
            type: integer
            minimum: 500
          example: 3000
        - name: priority
          in: query
          description: Evaluation priority for ranking
          schema:
            type: string
            enum: [cost-effectiveness, safety, evidence, content]
            default: cost-effectiveness
        - name: limit
          in: query
          description: Number of recommendations to return (default 5, max 20)
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
      responses:
        "200":
          description: Successful response with recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                  recommendations:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/Product"
                        - type: object
                          properties:
                            recommendationReasons:
                              type: array
                              items:
                                type: string
                              description: Reasons why this product is recommended
                  _links:
                    $ref: "#/components/schemas/Links"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/safety-check:
    get:
      operationId: checkSafety
      x-openai-isConsequential: false
      summary: Safety check
      description: |
        Check the safety of combining multiple supplement ingredients, considering user conditions,
        medications, and allergies. Returns an overall safety assessment with detailed warnings
        and interaction information. This is NOT medical advice.

        複数の成分の組み合わせ安全性をチェックします。
        既往歴、服用中の薬、アレルギーを考慮して、注意事項や相互作用の警告を返します。
        医療アドバイスではありません。
      parameters:
        - name: ingredients
          in: query
          required: true
          description: Comma-separated ingredient slugs to check (e.g. "vitamin-d,calcium,magnesium")
          schema:
            type: string
          example: "vitamin-d,calcium,magnesium"
        - name: conditions
          in: query
          description: Comma-separated health conditions (e.g. "kidney-disease,hypertension")
          schema:
            type: string
          example: "hypertension"
        - name: medications
          in: query
          description: Comma-separated medication names (e.g. "warfarin,lisinopril")
          schema:
            type: string
          example: "warfarin"
        - name: allergies
          in: query
          description: Comma-separated allergies (e.g. "soy,shellfish")
          schema:
            type: string
          example: "soy"
      responses:
        "200":
          description: Successful safety check result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyCheckResult"
        "400":
          description: Missing required parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    TierRank:
      type: string
      enum: ["S+", "S", "A", "B", "C", "D"]
      description: |
        Tier rank evaluation grade.
        S+ = Five Crown (top in all categories), S = Excellent, A = Very Good, B = Good, C = Average, D = Below Average

    TierRatings:
      type: object
      nullable: true
      description: Tier rank ratings across all five evaluation pillars
      properties:
        overall:
          $ref: "#/components/schemas/TierRank"
        price:
          $ref: "#/components/schemas/TierRank"
        costEffectiveness:
          $ref: "#/components/schemas/TierRank"
        content:
          $ref: "#/components/schemas/TierRank"
        evidence:
          $ref: "#/components/schemas/TierRank"
        safety:
          $ref: "#/components/schemas/TierRank"

    Ingredient:
      type: object
      description: Supplement ingredient summary
      properties:
        id:
          type: string
        name:
          type: string
          description: Ingredient name in Japanese
        nameEn:
          type: string
          description: Ingredient name in English
        slug:
          type: string
          description: URL-friendly identifier
        category:
          type: string
          description: Ingredient category (vitamin, mineral, amino-acid, fatty-acid, probiotic, herb, other)
        url:
          type: string
          format: uri
          description: Suptia ingredient page URL
        evidenceLevel:
          type: string
          description: Scientific evidence level (S/A/B/C/D)
        safetyScore:
          type: integer
          description: Safety score from 0 to 100
        description:
          type: string
          description: Brief description of the ingredient
        dailyRecommended:
          type: string
          description: Recommended daily intake amount
        dailyUpperLimit:
          type: string
          description: Tolerable upper intake level per day
        productCount:
          type: integer
          description: Number of in-stock products containing this ingredient

    Product:
      type: object
      description: Supplement product summary
      properties:
        id:
          type: string
        name:
          type: string
          description: Product name
        slug:
          type: string
          description: URL-friendly identifier
        url:
          type: string
          format: uri
          description: Suptia product page URL
        price:
          type: object
          properties:
            amount:
              type: integer
              description: Price in JPY
            currency:
              type: string
              default: "JPY"
            perDay:
              type: integer
              description: Daily cost in JPY
        image:
          type: string
          format: uri
          description: Product image URL
        source:
          type: string
          description: Primary e-commerce source (rakuten, amazon, yahoo)
        tierRanks:
          $ref: "#/components/schemas/TierRatings"
        badges:
          type: array
          items:
            type: string
          description: Earned badges (e.g. "five-crown", "best-value")
        mainIngredients:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Ingredient name in Japanese
              nameEn:
                type: string
                description: Ingredient name in English
              amountMg:
                type: number
                description: Amount per serving in mg

    SafetyCheckResult:
      type: object
      description: Result of a supplement safety check
      properties:
        success:
          type: boolean
        safe:
          type: boolean
          description: Whether the combination is considered safe overall
        safetyScore:
          type: integer
          description: Overall safety score (0-100, higher is safer)
        warnings:
          type: array
          items:
            type: object
            properties:
              level:
                type: string
                enum: [critical, warning, caution, info]
                description: Severity level of the warning
              message:
                type: string
                description: Warning message
              ingredient:
                type: string
                description: Related ingredient slug
          description: List of safety warnings
        interactions:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [ingredient-ingredient, ingredient-medication, ingredient-condition]
                description: Type of interaction
              severity:
                type: string
                enum: [critical, major, moderate, minor]
              ingredients:
                type: array
                items:
                  type: string
                description: Ingredients involved in the interaction
              description:
                type: string
                description: Description of the interaction
              recommendation:
                type: string
                description: Recommended action
          description: Detected interactions between ingredients, medications, or conditions
        blockedIngredients:
          type: array
          items:
            type: string
          description: Ingredient slugs that should be avoided given the user's conditions/medications/allergies
        disclaimer:
          type: string
          description: Legal disclaimer that this is not medical advice
        _links:
          $ref: "#/components/schemas/Links"

    Error:
      type: object
      description: Error response
      properties:
        success:
          type: boolean
          default: false
        error:
          type: string
          description: Error message

    Links:
      type: object
      description: HATEOAS-style navigation links
      additionalProperties:
        type: string
        format: uri
